// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




/*** TOAST ***/

ion-toast.toast-ios,
ion-toast.toast-md {

  &.info-alert {
      > .toast-wrapper {
        background-color: #d1ecf1;

          .toast-message {
            color: #0c5460;
          }
      }
  }

  &.success-alert {
    > .toast-wrapper {
      background-color: #c3e6cb;

        .toast-message {
          color: #155724;
        }
    }
  }

  &.warning-alert {
    > .toast-wrapper {
      background-color: #fff3cd;

        .toast-message {
          color: #856404;
        }
    }
  }

  &.danger-alert {
    > .toast-wrapper {
      background-color: #f8d7da;

        .toast-message {
          color: #721c24;
        }
    }
  }
}




/**** AVATAR *****/

.avatar-base {
  position: relative;
  text-align: center;

  border-radius: 50%;
  width: 84px; height: 84px;
  margin: 0 auto 12px auto;
  background-color: rgb(209, 209, 209);

  &.md {
      width: 48px; height: 48px;
  }
  &.sm {
      width: 30px; height: 30px;
  }

  .image {
      position: relative;

      overflow: hidden;
      border-radius: 50%;
      width: 100%; height: 100%;

      img {
          position: absolute;
          top: 0; left: 0;

          width: 100%; height: auto;

          z-index: 2;
      }
  }

  .avatar-base__initials {
      display: none;

      position: absolute;
      top: 14%; left: 0;

      width: 100%; height: 100%;

      font-size: 30px;
      font-weight: 500;
      color: #323232;
      text-align: center;
      text-transform: uppercase;

      z-index: 1;
  }

  &.md {
      .avatar-base__initials {
          top: 30%;
          font-size: 16px;
      }
  }
  &.sm {
      .avatar-base__initials {
          top: 30%;
          font-size: 12px;
      }
  }

  &.perfil {
      &:after {
          content: "\f3f6";
          position: absolute;
          bottom: -1px; right: -1px;

          font-family: "Ionicons";
          font-size: 22px;
          text-align: center;
          color: #ffffff;

          border-radius: 50%;
          width: 30px; height: 30px;
          background-color: #EB5A52;

          line-height: 30px;

          z-index: 3;
      }
  }
}



/***** OPS *****/
.ops {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 0 0 24% 0;

  .icon {
      font-size: 360%;
      color: #858585;
  }
}



/* ###### IMPORT IMAGE FROM ICON ######### */

.campo_color_2 {
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../assets/imgs/campo_color_2.png');
  height: 100%;
  background-size:contain;
  color: rgba(60, 60, 60, 0)!important;//We are using this to defeat the flam

}
