<ion-header>
  <ion-navbar>
    <ion-title>Times</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar
    placeholder="Buscar time..."
    [(ngModel)]="myInput"
    [showCancelButton]="Cancelar"
    (ionChange)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <div *ngIf="this.times.length == 0">Nenhum time encontrado...</div>

  <ion-list>
    <button ion-item *ngFor="let time of times">
      <ion-grid>
        <ion-row>
          <ion-col col-3 class="escudo">
              <img [src]="time.url_escudo_png">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                  <h6>{{time.nome}}</h6>
              </ion-col>
            </ion-row>
           <ion-row>
             <ion-col>
                <h6>{{time.nome_cartola}}</h6>
             </ion-col>
           </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>


</ion-content>
